$color-board: #efefef;
$color-button-hover: #d1cfcf;
$color-light: #ffff;
$color-size-hover: #919191;
$color-primary: #87c1b3;
$color-popup: #a4d7cb;
$color-overlay: rgba(239, 239, 239, 0.5);
$color-dark: rgba(0, 0, 0, 1);